<section class="suggestion-section" id="suggestion-section-id">

  <div class="container">

    <div class="suggestion-card">

      <h2 class="suggestion-title">
        Suggest a Book
      </h2>

      <p class="suggestion-subtitle">
        Missing something? Tell us your favourite read and we'll bring it to FreeLibrary.
      </p>

      <!-- SUCCESS MESSAGE -->
      <div
        *ngIf="isSuccess"
        class="success-box"
      >
        ✅ Thank you! Your suggestion has been received.
      </div>

      <!-- ERROR MESSAGE -->
      <div
        *ngIf="isError"
        class="error-box"
      >
        ❌ Failed to submit. Please try again.
      </div>

      <!-- FORM -->
      <form
        *ngIf="!isSuccess"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >

        <div class="row">

          <div class="col-md-6 mb-3">

            <input
              type="text"
              formControlName="name"
              placeholder="Your Name"
              class="form-control suggestion-input"
            >

            <small
              class="error-text"
              *ngIf="
                form.controls['name'].touched &&
                form.controls['name'].invalid
              "
            >
              Name must be at least 2 characters
            </small>

          </div>


          <div class="col-md-6 mb-3">

            <input
              type="email"
              formControlName="email"
              placeholder="Your Email"
              class="form-control suggestion-input"
            >

            <small
              class="error-text"
              *ngIf="
                form.controls['email'].touched &&
                form.controls['email'].invalid
              "
            >
              Enter valid email
            </small>

          </div>

        </div>


        <div class="mb-3">

          <input
            type="text"
            formControlName="book"
            placeholder="Book Name"
            class="form-control suggestion-input"
          >

          <small
            class="error-text"
            *ngIf="
              form.controls['book'].touched &&
              form.controls['book'].invalid
            "
          >
            Book name is required
          </small>

        </div>


        <div class="mb-3">

          <textarea
            formControlName="message"
            rows="3"
            placeholder="Optional Message"
            class="form-control suggestion-input"
          ></textarea>

        </div>


        <button
          class="btn suggestion-btn"
          type="submit"
          [disabled]="isSubmitting"
        >

          <span *ngIf="!isSubmitting">
            Submit Suggestion
          </span>

          <span *ngIf="isSubmitting">
            Submitting...
          </span>

        </button>

      </form>

    </div>

  </div>

</section>